body {
    font-family: Arial, sans-serif;
    background-color: #fdf6f0;
    color: #4a4a4a;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #d17a9c;
}
h2{
    color:#d17a9c
}
ol li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style-position: inside;
}